<div class="main">
	<div class="interactive-nav">
		Jump to
		{{#groups}}
			<a href="#{{group}}">{{group}}</a>
		{{/groups}}
	</div>

	{{#groups}}
	<div class='policy-group' id="{{group}}">
		<div class="policy-group__header">
			<div class='policy-group__header__text'>
				<h2 class='policy-group__header__text__title'>{{group}}</h2>
				<p class='policy-group__header__text__description'>{{intro}}</p>
			</div>
			<div class='policy-group__header__visual'>
				{{#image}}<img class='policy-group__header__visual__image' src='{{image}}'>{{/image}}
				<div class='policy-group__header__visual__bar bar-1' style='background-color:{{highlight}}'></div>
				<div class='policy-group__header__visual__bar bar-2' style='background-color:{{highlight}}'></div>
				<div class='policy-group__header__visual__bar bar-3' style='background-color:{{highlight}}'></div>
				<div class='policy-group__header__visual__bar bar-4' style='background-color:{{highlight}}'></div>
			</div>
		</div>
		{{>cardstack}}
		<div class='pagination'></div>
	</div>

	{{#createAdSlot @index}}
		{{> advert index=@index }}
	{{/createAdSlot}}

	{{/groups}}
</div>
