@import "mq";
@import "fonts";
@import "swiper";

$c-con: #1A60A9;
$c-con-close: #2E6DC5;
$c-con-distant: #3891E5;

$c-lab: #E42729;
$c-lab-close: #FF3600;
$c-lab-distant: #FF5560;

$c-libdem: #FAB817;
$c-libdem-close: #FBBB00;
$c-libdem-distant: #FFEA00;

$c-snp: #FED905;
$c-snp-close: #FED905;
$c-snp-distant: #FFFA00;

$c-grey: #717D85;

$c-bar: #D4D9DF;
// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
// @import "fullscreen";

.main {
     margin: auto;
     min-height: 100vh;
     @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.element-atom,
.interactive-atom {
     margin-left: -10px;
     margin-right: -10px;
     @include mq(tablet) {
          margin-left: -20px;
          margin-right: -20px;
     }
}

.ios,.android {
     p, h1, h2, h3 {
          margin: 0; padding:0;
     }
}

body {
     background-color: #eaeaea;
     overflow-x: initial;
}

.swiper-container {
     width: 100%;
     overflow: hidden;
     padding-top: 12px;
     // height: 300px;
     display: flex;

     @include mq(tablet) {
          margin-bottom: 24px;
     }

     @include mq(tablet) {
          padding-left: 20px;
          padding-right: 20px;
     }

 }

.swiper-wrapper {
     @include mq(tablet) {
          flex-wrap: wrap;
     }
}

 .swiper-slide {
     font-size: 18px;
     color: #fff;
     border-radius: 6px;
 }
 // .swiper-slide:nth-child(2n) {
 //     width: 40%;
 // }
 // .swiper-slide:nth-child(3n) {
 //     width: 20%;
 // }

.swiper-slide {
     box-sizing: border-box;
     padding: 3px 5px 12px;
     width: calc(100% - 60px);
     &.swiper-slide--con {
          background-color: $c-con;
        //   .pledge:before {
        //       background-color: $c-con-distant;
        //   }
     }

     &.swiper-slide--ld {
          background-color: $c-libdem;
        //   .pledge:before {
        //       background-color: $c-libdem-distant;
        //   }
     }

     &.swiper-slide--lab {
          background-color: $c-lab;
        //   .pledge:before {
        //       background-color: $c-lab-distant;
        //   }
     }

     &.swiper-slide--snp {
          background-color: $c-snp;
        //   .pledge:before {
        //       background-color: $c-snp-distant;
        //   }
     }
     &.swiper-slide--snp,
     &.swiper-slide--ld {
         color: #333;
         a {
              color: #333;
         }
     }

     p {
          margin: 0;
          @include fs-headline(2);
     }

     @include mq(tablet) {
          // flex: 1;
          // flex-basis: 300px;
          width: 300px;
          margin-right: 20px;
          margin-bottom: 24px;
     }
}

.card-summary {
     padding-bottom: 4px;
     padding-top: 6px;
     clear: both;
     .pledge {
         font-size: 18px;
         line-height: 22px;
         display: block;
         &:before {
             content: '';
             display: inline-block;
             background-color: currentColor;
             opacity: 0.8;
             width: 13px;
             height: 13px;
             vertical-align: middle;
             border-radius: 100%;
             position: relative;
             bottom: 1px;
             margin-right: 4px;
         }
     }
}

p.card-party {
     @include fs-header(5);
}

p.card-analysis {
     border-top: 2px solid rgba(255,255,255,0.2);
     padding-top: 4px;

     &::before {
          content: 'What does this mean? ';
          font-weight: 700;
     }
}

p.card-links {
     border-top: 2px solid rgba(255,255,255,0.2);
     padding-top: 4px;
     margin-top: 6px;

     &::before {
          content: 'Read more';
          font-weight: 700;
     }

     a {
          display: block;
          color: #fff;

          &::before {
               content: "• ";
          }
     }
}

div.card-icon {
     height: 48px;
     width: 48px;
     float: left;
     border-radius: 60px;
     margin-top: -12px;
     background-size: cover;
     background-position: center center;
     margin-right: 5px;

     .swiper-slide--con & {
          background-color: rgba(1,71,144, 0.3);
     }

     .swiper-slide--lab & {
          background-color: rgba(211,12,26,0.3);
     }

     .swiper-slide--ld & {
          background-color: rgba(224,150,2,0.3);
     }

     .swiper-slide--snp & {
          background-color: rgba(224,192,0,0.3);
     }
}

.pagination {
     text-align: center;
     line-height: 5px !important;
    padding: 18px 0 26px;

     .swiper-pagination-bullet {
          margin-right: 2px;
     }
}


.policy-group__header {
    position: relative;
    box-sizing: border-box;
    padding: 6px 10px;
    overflow: hidden;
    @include fs-headline(2);
    margin-bottom: 12px;
    margin-top: -2px;
    z-index: 140;
    @include mq($until: tablet) {
         border-bottom: 2px solid #dcdcdc;
    }
    border-top: 2px solid $c-grey;
    // margin-top: 6px;
    @include mq($until: tablet) {
         padding-left: 20px;
    }

    @include mq(tablet) {
         padding-left: 20px;
    }

    @include mq(leftCol) {
         padding-left: 180px;
    }

    @include mq(wide) {
         padding-left: 260px;
    }
    &__text {
        padding-left: 10px;
        width: calc(50% - 10px);
        max-width: 460px;
        min-height: 120px;
        @include mq(tablet) {
            min-height: 160px;
        }

        &__title {
            font-size: 26px;
            line-height: 22px;
            margin-bottom: 5.5px;
            @include mq(tablet) {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 11px;
                // transform: translateY(5.5px);
            }
        }
        &__description {
            font-size: 18px;
            line-height: 22px;
            @include mq(tablet) {
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
    &__visual {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        max-width: 580px;
        @include mq(tablet) {
            bottom: 11px;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: -100%;
            transform: translateX(20px);
            height: 2px;
            z-index: 3;
            width: 200%;
            background-color: $c-bar;
        }
        &__image {
            position: absolute;
            bottom: 0;
            right: 20px;
            z-index: 2;
            width: 100px;
            height: 136px;
            @include mq(tablet) {
                width: 118px;
                height: 160px;
                right: auto;
                left: 20%;
            }
        }
        &__bar {
            position: relative;
            z-index: 1;
            height: 24px;
            width: 100%;
            @include mq(tablet) {
                height: 30px;
            }
            &.bar-1 {
                transform: translateX(10%);
            }
            &.bar-2 {
                opacity: 0.7;
                transform: translateX(6%);
            }
            &.bar-3 {
                opacity: 0.5;
                transform: translateX(19%);
            }
            &.bar-4 {
                opacity: 0.3;
                transform: translateX(0);
            }
        }
    }
}

.interactive-nav {
    &__inner {
        position: relative;
        &:before {
            content: '';
            position: absolute;
            top: -12px;
            left: 0;
            right: 20px;
            height: 2px;
            background-color: $c-bar;
        }
        @include mq(desktop) {
            max-width: 640px;
            &:before {
                left: 0;
            }
        }
    }
     padding-top: 12px;
     padding-bottom: 12px;
     color: rgba(0,0,0,0.3);
     box-sizing: border-box;
     padding-left: 10px;
     position: -webkit-sticky;
     position: sticky;
     border-bottom: 2px solid $c-grey;
     background-color: #eaeaea;
     font-family: 'Guardian Sans Web', 'Guardian Text Sans Web', Helvetica, Arial, sans-serif;
     font-size: 16px;
     line-height: 24px;

     @include mq($until: tablet) {
          padding-left: 20px;
     }

     @include mq(tablet) {
          padding-left: 20px;
     }

     @include mq(leftCol) {
          padding-left: 180px;
     }

     @include mq(wide) {
          padding-left: 260px;
     }

     .android &,
     .ios & {
          position: initial;
     }

     top: -3px;
     z-index: 160;


     a {
        display: inline-block;
        color: $c-grey;
        text-decoration: none;
        padding: 5px 0;
        @include mq(desktop) {
            padding: 0;
        }
        &:hover {
            color: #333;
            &::before {
                color: $c-grey;
            }
        }
        &::before {
            content: '/';
            margin-right: 4px;
            opacity: 0.5;
        }

        &:first-of-type {
            &::before {
                opacity: 0.25;
            }
        }
    }
}

.swiper-pagination-bullet-active {
     border: 1px solid #fff;

     &:first-of-type {
          background-color: $c-con;
          border-color: $c-con;
     }

     &:nth-of-type(2) {
          background-color: $c-lab;
          border-color: $c-lab;
     }

     &:nth-of-type(3) {
          background-color: $c-libdem;
          border-color: $c-libdem;
     }

     &:nth-of-type(4) {
          background-color: $c-snp;
          border-color: $c-snp;
     }
}
.badge-slot {
    width: 62px;
    height: 48px;
}
.content__headline,
.content__headline::before,
.content__section-label__link {
    font-size: 28px;
    line-height: 28px;
}
.content__headline::before {
    color: #333;
    font-weight: 800;
    @include mq(tablet) {
        font-size: 72px;
        line-height: 72px;
    }
}
.content__section-label__link {
    display: inline-block;
    height: 28px;
    width: 210px;
    overflow: hidden;
    color: #63747C;
    @include mq(375px) {
        overflow: auto;
        width: auto;
    }
}

// replaces social media headline
.content__headline {
    font-size: 0;
    margin-top: -29px;
    padding-left: 68px;
    &::before {
        content: "The Manifestos";
    }
}
.content__standfirst {
    color: #767676;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    @include mq(tablet) {
        color: #767676;
        font-size: 22px;
        line-height: 28px;
    }
    a {
        color: #444;
        border-bottom: 1px solid #767676;
        text-decoration: none;
    }
}
.content--interactive .content__meta-container {
    margin-top: 12px;
    min-height: none;
    @include mq(leftCol) {
        margin-top: 0;
        position: absolute;
        z-index: 20;
        top: -60px;
    }

    .meta__extras {
        border-top: 2px solid $c-bar;
    }
    .meta__save-for-later,
    .meta__number,
    .meta__numbers {
        display: none !important;
    }
    .social-icon.social-icon--more {
        background-color: #BDBDBD;
        circle {
            fill: #DCDCDC;
        }
    }
    @include mq(leftCol) {
        width: 140px;
        left: -160px;
    }
    @include mq(wide) {
        width: 220px;
        left: -240px;
    }
}
.content__section-label a {
    color: $c-grey;
}
// removes second date line
.content__head .content__main-column .content__dateline {
    display: none;
}

.content__labels {
    display: block;
}
