@import "mq";
@import "fonts";
@import "swiper";

$con: #1A60A9;
// $con: #3163B6;
$lab: #E42729;
$ld: #FAB817;
$snp: #FED905;

$c-grey: #63747C;

$c-bar: #D4D9DF;
// Uncomment for embeds
//@import "embed";

// Uncomment for full screen (including immersive article main media)
// @import "fullscreen";

.main {
     margin: auto;
     min-height: 100vh;
     @each $bp in (tablet, desktop, leftCol, wide) {
        @include mq($bp) {
            max-width: map-get($mq-breakpoints, $bp);
        }
    }
}

.element-atom,
.interactive-atom {
     margin-left: -10px;
     margin-right: -10px;
     @include mq(tablet) {
          margin-left: -20px;
          margin-right: -20px;
     }
}

.ios,.android {
     p, h1, h2, h3 {
          margin: 0; padding:0;
     }
}

body {
     background-color: #eaeaea;
     overflow-x: initial;
}

.swiper-container {
     width: 100%;
     overflow: hidden;
     padding-top: 12px;
     // height: 300px;
     display: flex;

     @include mq(tablet) {
          margin-bottom: 24px;
     }

     @include mq(tablet) {
          padding-left: 20px;
          padding-right: 20px;
     }

 }

.swiper-wrapper {
     @include mq(tablet) {
          flex-wrap: wrap;
     }
}

 .swiper-slide {
     font-size: 18px;
     color: #fff;
     border-radius: 6px;
 }
 // .swiper-slide:nth-child(2n) {
 //     width: 40%;
 // }
 // .swiper-slide:nth-child(3n) {
 //     width: 20%;
 // }

.swiper-slide {
     box-sizing: border-box;
     padding: 3px 5px 12px;
     width: calc(100% - 60px);
     &.swiper-slide--con {
          background-color: $con;
     }

     &.swiper-slide--ld {
          background-color: $ld;
     }

     &.swiper-slide--lab {
          background-color: $lab;
     }

     &.swiper-slide--snp {
          background-color: $snp;
     }
     &.swiper-slide--snp,
     &.swiper-slide--ld {
         color: #333;
         a {
              color: #333;
         }
     }

     p {
          margin: 0;
          @include fs-headline(2);
     }

     @include mq(tablet) {
          // flex: 1;
          // flex-basis: 300px;
          width: 300px;
          margin-right: 20px;
          margin-bottom: 24px;
     }
}

p.card-summary {
     padding-bottom: 4px;
     padding-top: 6px;
     clear: both;
}

p.card-party {
     @include fs-header(5);
}

p.card-analysis {
     border-top: 2px solid rgba(255,255,255,0.2);
     padding-top: 4px;

     &::before {
          content: 'What does this mean? ';
          font-weight: 700;
     }
}

p.card-links {
     border-top: 2px solid rgba(255,255,255,0.2);
     padding-top: 4px;
     margin-top: 6px;

     &::before {
          content: 'Read more';
          font-weight: 700;
     }

     a {
          display: block;
          color: #fff;

          &::before {
               content: "• ";
          }
     }
}

div.card-icon {
     height: 48px;
     width: 48px;
     float: left;
     border-radius: 60px;
     margin-top: -12px;
     background-size: cover;
     background-position: center center;
     margin-right: 5px;

     .swiper-slide--con & {
          background-color: rgba(1,71,144, 0.3);
     }

     .swiper-slide--lab & {
          background-color: rgba(211,12,26,0.3);
     }

     .swiper-slide--ld & {
          background-color: rgba(224,150,2,0.3);
     }

     .swiper-slide--snp & {
          background-color: rgba(224,192,0,0.3);
     }
}

.pagination {
     text-align: center;
     line-height: 2rem !important;

     .swiper-pagination-bullet {
          margin-right: 2px;
     }
}


.policy-group__header {
    position: relative;
    box-sizing: border-box;
    padding: 6px 10px;
    overflow: hidden;
    @include fs-headline(2);
    margin-bottom: 12px;
    @include mq($until: tablet) {
         border-bottom: 2px solid #dcdcdc;
    }
    border-top: 2px solid $c-grey;
    // margin-top: 6px;
    @include mq($until: tablet) {
         padding-left: 20px;
    }

    @include mq(tablet) {
         padding-left: 20px;
    }

    @include mq(leftCol) {
         padding-left: 180px;
    }

    @include mq(wide) {
         padding-left: 260px;
    }
    &__text {
        padding-left: 10px;
        width: calc(50% - 10px);
        max-width: 460px;
        min-height: 120px;
        @include mq(tablet) {
            min-height: 160px;
        }

        &__title {
            font-size: 26px;
            line-height: 22px;
            margin-bottom: 5.5px;
            @include mq(tablet) {
                font-size: 36px;
                line-height: 42px;
                margin-bottom: 11px;
                // transform: translateY(5.5px);
            }
        }
        &__description {
            font-size: 18px;
            line-height: 22px;
            @include mq(tablet) {
                font-size: 22px;
                line-height: 26px;
            }
        }
    }
    &__visual {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50%;
        max-width: 580px;
        @include mq(tablet) {
            bottom: 11px;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            right: 0;
            left: -100%;
            transform: translateX(20px);
            height: 2px;
            z-index: 3;
            width: 200%;
            background-color: $c-bar;
        }
        &__image {
            position: absolute;
            bottom: 0;
            right: 20px;
            z-index: 2;
            width: 100px;
            height: 136px;
            @include mq(tablet) {
                width: 118px;
                height: 160px;
                right: auto;
                left: 20%;
            }
        }
        &__bar {
            position: relative;
            z-index: 1;
            height: 24px;
            width: 100%;
            @include mq(tablet) {
                height: 30px;
            }
            &.bar-1 {
                transform: translateX(10%);
            }
            &.bar-2 {
                opacity: 0.7;
                transform: translateX(6%);
            }
            &.bar-3 {
                opacity: 0.5;
                transform: translateX(19%);
            }
            &.bar-4 {
                opacity: 0.3;
                transform: translateX(0);
            }
        }
    }
}

.interactive-nav {
     padding-top: 12px;
     padding-bottom: 12px;
     color: rgba(0,0,0,0.3);
     box-sizing: border-box;
     padding-left: 10px;
     position: -webkit-sticky;
     position: sticky;
     border-top: 2px solid #dcdcdc;
     background-color: #eaeaea;

     @include mq($until: tablet) {
          padding-left: 20px;
     }

     @include mq(tablet) {
          padding-left: 20px;
     }

     @include mq(leftCol) {
          padding-left: 180px;
          margin-bottom: 24px;
     }

     @include mq(wide) {
          padding-left: 260px;
     }

     .android &,
     .ios & {
          position: initial;
     }

     top: 0;
     z-index: 100;

     @include fs-textSans(3);

     a {
          color: #63717a;
          &::before {
               content: '/';
               margin-right: 4px;
          }

          &:first-of-type {
               &::before {
                    color: rgba(0,0,0,0.3);
               }
          }
     }
}

.swiper-pagination-bullet-active {
     border: 1px solid #fff;

     &:first-of-type {
          background-color: $con;
          border-color: $con;
     }

     &:nth-of-type(2) {
          background-color: $lab;
          border-color: $lab;
     }

     &:nth-of-type(3) {
          background-color: $ld;
          border-color: $ld;
     }

     &:nth-of-type(4) {
          background-color: $snp;
          border-color: $snp;
     }
}

.interactive-ad-banner {
    display: flex;
    justify-content: center;
    background-color: guss-colour(white);

    @include mq($from: tablet) {
        .ad-slot--rendered {
            margin: 20px 0 40px 0;
        }
    }
}
